.App {
  text-align: center;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
  margin: 0;
  padding: 0;
  /* background: #f5f5f5; */
  background: #ceeeff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 0px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Customize the track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: white; /* Light gray background */
  border-radius: 10px; /* Rounded edges */
}

/* Customize the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: white; /* Medium gray color */
  border-radius: 10px; /* Rounded edges */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: white; /* Darker gray on hover */
}

/* Customize the corner between horizontal and vertical scrollbars */
::-webkit-scrollbar-corner {
  background: white; /* Match the track's background */
}
